<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <h1>Oops... No encontramos la página que buscabas</h1>    
</body>
</html>