<header>
    <div class="main-header">
       <div class="logo">
        <a href="/">
          <img src="/images/logo/logo.png" alt="">
        </a>
       </div>

       <i class="fas fa-bars burguer-menu-icon" onclick="dropMenu()"></i>

       <!-- Menú de navegación mobile -->
       <nav class="navigation-bar" id="navigation-bar-mobile">

        <div class="user-icons-mobile">
            <a href="/users/login"><i class="fas fa-user"></i></a>
            <a href="/"><i class="fas fa-shopping-cart"></i></a>
        </div>
      

        <!-- Lista con los elementos del menú (categorías) -->
        <ul class="menu">
            <li class="dropdown-menu" onclick="dropSubCategoryMenu(`school`)">
                <a href="/products/category/1">Escolar</a> 
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li class="dropdown-menu" onclick="dropSubCategoryMenu(`art`)">
                <a href="/products/category/2">Artística</a> 
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                <a href="/products/category/3">Oficina</a> 
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li><a href="">Contacto</a></li>
        </ul>
       </nav>

       <!-- Menú de navegación desktop -->
       <nav class="navigation-bar" id="navigation-bar-desktop">

        <!-- Lista con los elementos del menú (categorías) -->
        <ul class="menu">
            <li class="dropdown-menu" onclick="dropSubCategoryMenu(`school`)">
               Escolar
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li class="dropdown-menu" onclick="dropSubCategoryMenu(`art`)">
               Artística
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
               Oficina
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li><a href="">Contacto</a></li>
        </ul>
       </nav>
       <!-- Icono del buscador en header mobile -->
       <div class="search-icon" onclick="dropSearch()">
        <i class="fas fa-search"></i>
       </div>

       <!-- Buscador escritorio -->

       <form action="/products/search" method="GET" class="search-form-desktop">
           <div class="search-bar">
               <input type="search" name="keywords" >
               <button type="submit"><i class="fas fa-search"></i></button>
           </div>
       </form>

       <!-- Iconos de usuario escritorio -->
        <div class="user-icons-desktop">
            <div class="user">
                <% if (typeof session.user != "undefined") { %>
                    <i class="fas fa-user"></i><span class="session"></span>
                    <div class="menu-user">
                        <a href="/users/profile">Mis datos</a>
                        <a href="/users/logout">Cerrar sesión</a>
                        <% if (session.user.rol === "ROL_ADMIN") { %>
                            <a href="/admin/products">ADMIN</a>
                        <% } %>
                    </div>
                <% } else {%>
                    <a href="/users/login"><i class="fas fa-user"></i></a>
                <% } %>
            </div>
            <a href="/"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
    </div>
    <nav class="nav_menu">

        <!-- Buscador Mobile -->

        <form action="/products/search" method="GET" class="search-form-mobile" id="search">
            <div class="search-bar">
                <input type="search" name="keywords" placeholder="Buscar productos">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- Subcategorias desplegables -->

        <div class="subcategory_menu" id="school">
            <div class="subcategory_header">
                <h3><a href="">ESCOLAR</a></h3>
                <img src="/images/close.png" alt="" onclick="closeWindow()">
            </div>
            <ul>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
            </ul>
        </div>

        <div class="subcategory_menu" id="art">
            <div class="subcategory_header">
                <h3><a href="">ARTÍSTICA</a></h3>
                <img src="/images/close.png" alt="" onclick="closeWindow()">
            </div>
            <ul>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
            </ul>
        </div>

        <div class="subcategory_menu" id="office">
            <div class="subcategory_header">
                <h3><a href="">OFICINA</a></h3>
                <img src="/images/close.png" alt="" onclick="closeWindow()">
            </div>
            <ul>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
                <li><a href="">Subcategoria</a></li>
            </ul>
        </div>
    </nav>
</header>


