<section class="special-offers">
    <h3 class="section__title"><%= sliderTitle %></h3> 
    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity"
    data-flickity-options='{ "wrapAround": true }' >
        <div class="carousel-cell  productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/productos/acuarelaGiotto.jpg" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
    </div>
</section> 